<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647137723168-cg61q0j8d2tgu4d1il5knfrptb54426a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647137723168-cg61q0j8d2tgu4d1il5knfrptb54426a</string>
	<key>API_KEY</key>
	<string>AIzaSyAVBGY6M8UR2Bu1cWwhpx4EgglQORh6Kjc</string>
	<key>GCM_SENDER_ID</key>
	<string>647137723168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mac..Take-A-Pill-App</string>
	<key>PROJECT_ID</key>
	<string>take-a-pill-app</string>
	<key>STORAGE_BUCKET</key>
	<string>take-a-pill-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647137723168:ios:f7c797581c475ab55b8d45</string>
</dict>
</plist>